/* colors */
$offwhite:#ebeaeb;
$darkerWhite:#dbd9da;
$lightRed:#dd4f4d;
$darkRed:#c24040;
$darkGrey:#555;
$lightBlue:#6fc3eb;
$darkBlue:#5fb0cd;
$orange:#ee9e00;
$yellow:#edc200;
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: #222;
  padding: 0;
  margin: 0;
}

.background {
  position: relative;
  width: 400px;
  height: 500px;
  margin: 5px auto 0;
}

.star {
  position: absolute;
  background: #e7e7e7;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  animation: move 0.5s infinite;
  opacity: 0;
}


/***** rocket build styles ****/

.rocketCon {
  position: relative;
  display: flex;
  margin: 4em auto 0;
  top: 10rem;
  width: 250px;
  animation: rocketMoveY 1s infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;
}

.flame {
  position: absolute;
  width: 30px;
  height: 30px;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: rotate(41deg) skew(-24deg, -11deg);
  transform: rotate(41deg) skew(-24deg, -11deg);
  top: 14px;
  left: -6px;
  background: -webkit-linear-gradient(315deg, $yellow 0%, $yellow 50%, $orange 50%, $orange 100%);
  background: linear-gradient(135deg, $yellow 0%, $yellow 50%, $orange 50%, $orange 100%);
  animation: flameMotion .1s infinite;
  box-shadow: 0 0 50px 1px rgba(238,158,0,.5);
}

.rocketBase {
  border-bottom: 10px solid $darkGrey;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  height: 0;
  width: 20px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-right: -15px;
  margin-top: 25px;
}

.rocket {
  width: 100px;
  height: 60px;
  
  background: $offwhite;
  
  background: -moz-linear-gradient(top, $offwhite 0%, $offwhite 50%, $darkerWhite 51%, $darkerWhite 100%);
 
  background: -webkit-linear-gradient(top, $offwhite 0%, $offwhite 50%, $darkerWhite 51%, $darkerWhite 100%);
 
  background: linear-gradient(to bottom, $offwhite 0%, $offwhite 50%, $darkerWhite 51%, $darkerWhite 100%);
  
  position: relative;
  border-radius: 50% / 10%;
  color: white;
  text-align: center;
  text-indent: .1em;
  &:before {
    content: '';
    position: absolute;
    top: 10%;
    bottom: 10%;
    right: -5%;
    left: -5%;
    background: inherit;
    border-radius: 10% / 100%;
  }
  
  
}



.window {
  background: $lightBlue;
  background: -moz-linear-gradient(top, $lightBlue 0%, $lightBlue 50%, $darkBlue 51%, $darkBlue 100%);
  background: -webkit-linear-gradient(top, $lightBlue 0%, $lightBlue 50%, $darkBlue 51%, $darkBlue 100%);
  background: linear-gradient(to bottom, $lightBlue 0%, $lightBlue 50%, $darkBlue 51%, $darkBlue 100%);

  width: 25px;
  height: 25px;
  margin: 18px 0 0 50px;
  border-radius: 50%;
  position: relative;
  z-index: 100000;
}

.rocketNose {
  margin-top: -18px;
  margin-left: -15px;
  width: 4em;
  height: 4em;
  overflow: hidden;
  position: relative;
  border-radius: 20%;
  transform: translateY(50%) rotate(0deg) skewY(30deg) scaleX(.866);
  
  &:before,
  &:after {
    width: 4em;
    height: 4em;
    position: absolute;
    background: crimson;
    background: -webkit-linear-gradient(244deg, $lightRed 0%, $lightRed 65%, $darkRed 66%, $darkRed 100%);
    background: linear-gradient(-154deg, $lightRed 0%, $lightRed 65%, $darkRed 66%, $darkRed 100%);
    pointer-events: auto;
    content: '';
  }
  &:before {
    border-radius: 20% 20% 20% 53%;
    transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(30deg) scaleY(.866) translateX(-24%);
  }
  &:after {
    border-radius: 20% 20% 53% 20%;
    transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(-30deg) scaleY(.866) translateX(24%);
  } 
}


.bottomWing {
  width: 0;
  height: 0;
  border-top: 20px solid $darkGrey;
  border-right: 40px solid transparent;
  position: absolute;
  top: 56px;
  left: 36px;
  z-index: -100;
}

.topWing {
  width: 0;
  height: 0;
  border-bottom: 20px solid $darkGrey;
  border-right: 40px solid transparent;
  position: absolute;
  top: -14px;
  left: 36px;
  z-index: -100;
}


/*********keyframes **********/

@keyframes move {
  0% {
    -webkit-transform: translate(400px, 0) scale(1, 0);
    transform: translate(400px, 0) scale(1, 0);
    opacity: 0;
  }
  1% {
    -webkit-transform: translate(400px, 0) scale(1, 0);
    transform: translate(400px, 0) scale(1, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-400px, 0) scale(1, 1);
    transform: translate(-400px, 0) scale(1, 1);
    opacity: 0;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rocketMoveY {
  0% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes rocketMoveX {
  0% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
}

@keyframes flameMotion {
  0% {
    opacity: .4;
    transform: translate(5px, 0px) scale(1, 1.1) rotate(53deg) skew(-10deg, -20deg);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px) scale(1.4, 1) rotate(53deg) skew(-10deg, -20deg);
  }
}